name: AniList readme workflow
on:
  schedule:
    # Runs at 2AM
    - cron: '0 2 * * *'
  workflow_dispatch:

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: AniList readme workflow
        uses: pxseu/anilist-readme@v1.1.4
        with:
          user_id: 7575423
